@import 'tailwindcss';
@import '@heroui/styles';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-jetbrains: var(--font-jetbrains-mono);
	--font-tinos: var(--font-tinos);
	--font-barcode: var(--font-barcode);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	background-color: var(--background);
	font-family: var(--font-jetbrains-mono);
}
:root {
	--background: oklch(0.9875 0 0);
	--foreground: oklch(16.68% 0.06435 267.09); /* gray-950 */
}

:root.dark {
	--background: #121213;
	--foreground: #e4e8ef;
}

::selection {
	color: oklch(97% 0 0);
	background-color: oklch(14.5% 0 0);
}
